AIRFLOW_IMAGE_NAME={{ airflow_image_name }}
# Airflow user id to match UID inside containers with host UID
AIRFLOW_UID={{ airflow_uid }}
#
FERNET_KEY={{ fernet_key }}
DATABASE__SQL_ALCHEMY_CONN={{ database__sql_alchemy_conn }}
CELERY__RESULT_BACKEND={{ celery__result_backend }}
AIRFLOW_HOME={{ airflow_home }}
# Postgresql
AIRFLOW_POSTGRES_USER={{ airflow_postgres_user }}
AIRFLOW_POSTGRES_PASSWORD={{ airflow_postgres_password }}
AIRFLOW_POSTGRES_DB={{ airflow_postgres_db }}
